body {
    background-image: url("../images/Grimm.jpg");
  background-repeat: repeat;
}

input {
    height: 300px;
    width: 200px;
}

.card, .card-header {
    background-color: darkslategray;
    color: deeppink;
}

#ruby, #weiss, #blake, #yang {
    border: 2px solid white;
    background-color: darkslategray;
}
